<div *ngIf="account" >
<mat-card class="center-card">
    <mat-card-content>       
        <mat-card-subtitle>
            <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLAyoutGap="10px" fxLayoutGap.xs="0">
                <div class="item1" fxFlex=30% style="justify-content: center">
                    <h3 class="firstelement">${{account.balance | number:'1.'}}</h3>
                    <h6 class="secondelement">Balance</h6>
                </div>
                <div class="item2" fxFlex>
                    <h3 class="firstelement">${{account.availableFunds | number:'1.'}}</h3>
                    <h6 class="secondelement">Available Funds</h6>
                </div>
                <div class="item3" fxFlex=30%>
                    <h3 class="firstelement">${{account.creditLine | number:'1.'}}</h3>
                    <h6 class="secondelement">Credit Line</h6>
                </div>  
            </div>                       
        </mat-card-subtitle>
    </mat-card-content>    
    <mat-card-actions class="buttonaction alternate-theme " >
        <button mat-flat-button color="primary" style="color:white;" [routerLink]="['./transactions']"  >MAKE A DRAW</button>
    </mat-card-actions>
</mat-card>
</div>
